/* Global */
.d-flex {
  display: flex;
}
.j-content-center {
  justify-content: center;
}
.j-content-sp-around {
  justify-content: space-around;
}
.j-content-sp-between {
  justify-content: space-between;
}
.a-items-center {
  align-items: center;
}

.text-logo {
  color: #ed3605 !important;
}
.text-custom-pinky {
  color: #e47297;
}

.btn-lime {
  background-color: #82c885;
}
.btn-lime i {
  color: #ffffff;
}
.btn-lime:hover {
  background-color: #04be5b;
}
.btn-lime:hover i {
  color: #ffffff;
}
.btn-lime.active {
  background-color: #04be5b;
}

.mobile_menu {
  z-index: 100 !important;
}
.block-header {
  margin-bottom: 0 !important;
}
section.content {
  margin: 20px 20px 20px 260px;
}

.rdt_TableHead {
  background-color: #e47297 !important;
}
.btn-simple {
  display: none !important;
}

/* ---------------- */
/* ----block-header------- */

.block-header__container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .block-header__container {
    display: block;
    position: relative;
  }
  .block-header__container .block-header__right {
    position: absolute;
    right: 40px;
    top: -5px;
  }
}

/* ---------------- */
/* product_grid__container */
.product_grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 1rem;
}

@media only screen and (max-width: 767px) {
  .product_grid__container {
    grid-template-columns: 1fr;
  }
}

/* ---------------- */
/* blog_grid__container */
.blog_grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
  .blog_grid__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .blog_grid__container {
    grid-template-columns: 1fr;
  }
}

/* ---------------- */
/* ----Blog item------- */
.blogitem-image {
  height: 190px;
}
.blogitem-image .blog-image {
  height: 100%;
}
.blogitem-image .blog-image img {
  min-width: 100%;
}

.blogitem-date {
  right: 5px !important;
  padding: 5px 10px !important;
}

.blogitem .blogitem-image span {
  border-radius: 0.35rem;
  overflow: hidden;
  display: block;
  max-height: 400px;
}

.blogitem .blogitem-image span:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.blogitem .blogitem-image span img {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.expanded-container {
  padding: 16px;
  width: 100%;
  display: block;
  max-height: 300px;
  overflow: auto;
}

.cart-listing .cart_thumnail img {
  width: 100px;
  float: left;
}

/* ---------------- */
/* ----QUill------- */
.ql-editor {
  min-height: 10rem;
}

/* ---------------- */
/* ----Authen------ */
.authen-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}
.authen-container .authen-item {
  cursor: pointer;
}
.authen-container .authen-item:hover {
  color: #e47297;
}

.ls-toggle-menu .sidebar .menu .list .authen-container {
  flex-direction: column-reverse;
}

.ls-toggle-menu .sidebar .menu .list .authen-container .authen-item {
  padding: 10px 0;
  text-align: center;
}

.ls-toggle-menu .sidebar .menu .list .authen-container .authen-item span {
  display: none;
}
